doctype html
html(lang='en')
  head
    title= 'Website Deets - ' + title
    // Meta tags required for Bootstrap
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='/styles/style.css')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")  body
    header
      nav(class='navbar navbar-expand-lg navbar-dark bg-dark')
        a(class='navbar-brand' href='/') Website Deets
        button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent')
          span(class='navbar-toggler-icon')
        div(class='collapse navbar-collapse' id='navbarSupportedContent')
          ul(class='navbar-nav mr-auto')
            li(class=title=='Home' ? 'nav-item active':'nav-item')
              a(class='nav-link' href='/') Home
                span(class='sr-only') (current)
            li(class=title=='Search' ? 'nav-item active':'nav-item')
              a(class='nav-link' href='/search?q=') Search
            li(class=title=='About' ? 'nav-item active':'nav-item')
              a(class='nav-link' href='/about') About
          form(class='form-inline my-2 my-lg-0' action='/search')
            input(class='form-control mr-sm-2' type='search' placeholder='Website or IP' id='q' name='q')
            button(class='btn btn-outline-success my-2 my-sm-0' type='submit') Search

    block content
    footer(class='footer')
      div(class='container')
        - var date = new Date(); 
        - var year = date.getFullYear();
        span(class='text-muted') &copy; Daniel Sacdalan #{year}
