extends layout

block content
  div(class='container')
    div(class='jumbotron' id='jumbotronSearch')
      div(class='row')
        div(class='col-xs-12 col-md-6')
          h1 #{name}
      div(class='row')
        div(class='col-xs-12 col-md-6')        
          h3 Local Time: #{data.time_zone}

      div(class='row')
        div(class='col-xs-12 col-md-6')
          h3 Location
          ul
            li City: #{data.city}
            li Region: #{data.region_name}
            li Zip Code: #{data.zip_code}
              li Country: #{data.country_name}
          h3 Coordinates 
          ul
            li Latitude: #{data.latitude}
            li Longitude: #{data.longitude}
        div(id='mapWidget' class='col-xs-12 col-md-6')
          h3 Google Maps
          div(id='map')
          script.
            function initMap() {
              // Create a map object and specify the DOM element for display.
              var uluru = {lat: #{data.latitude}, lng: #{data.longitude}};
              var map = new google.maps.Map(document.getElementById('map'), {
                center: uluru,
                zoom: 8
              });
              var marker = new google.maps.Marker({
                position: uluru,
                map: map
              });
            }
          // Key is protected and will only work on the production website.
          script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCbl_cL8jhg_CzJG-BJB4SU6nW8a6LGPrE&callback=initMap')
          

            


    