block content
  h1 Website: #{name}
  h2 #{data.ip}

  div
    h3 #{data.time_zone} Time Zone

  div
    h3 Location
    ul
      li #{data.city}
      li #{data.region_name}
      li #{data.zip_code}
      li #{data.country_name}
      
  div
    h3 Coordinates 
    ul
      li Latitude: #{data.latitude}
      li Longitude: #{data.longitude}
  